
<mdb-carousel [controls]="true" [indicators]="true">
    <mdb-carousel-item>
      <img
        src="../../assets/Banner--EOSS.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../assets/summer-web_926a15e4-914e-4716-be82-00262277f87f_1512x.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img
          src="../../assets/lumberjack_1512x.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="../../assets/new-arrival-web_2dbd154d-b1e3-44c7-b34d-96e48522e844_1512x.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="../../assets/oversized_1_1512x.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        </div>
      </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../assets/banner-new-size.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

<!-- 
  <div style="position: relative;">
    <img src="../../assets/cargo-bg.jpg" class="d-block w-100 mt-5" alt="Background Image" />
  
    <img src= style="position: absolute; bottom: 10px; left: 10px;" alt="Image 1" />
    <img src="../../assets/Tees_5cd5bfcf-e8e6-42cd-a1aa-1f762f0f7975.jpg" style="position: absolute; bottom: 10px; right: 10px;" alt="Image 2" />
  </div> -->

  <div class="image-container">
    <img src="../../assets/cargo-bg.jpg" class="background-image" alt="Background Image" />
  
    <div class="overlay-image overlay-left">
      <img src="../../assets/trouser-cargos.jpg" alt="Image 1" />
      <div class="overlay-text">TROUSER & CARGO PANTS</div>
    </div>
  
    <div class="overlay-image overlay-right">
      <img src="../../assets/Tees_5cd5bfcf-e8e6-42cd-a1aa-1f762f0f7975.jpg" alt="Image 2" />
      <div class="overlay-text">SUMMER VIBES</div>
    </div>
  </div>


  <app-new></app-new>
  
  
  
  